body{
    background-color:#C9E4FF;
    padding: 1.5%;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-color: rgb(25, 115, 199);
    padding: 0 0 8px 0px;
}

#header{
}

#header img{
    max-width: 100%;
}

.headline{
    color:#fff;
    padding: 10px 0 
}

.brandName, .slogan {
    font-size: 200%;
}

#navigation {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
}

#navigation li{
    padding: 16px;
    list-style-type: none;
}

#navigation li:hover{
    background-color: rgb(113, 113, 247);
}

#navigation li:hover a{
    padding: 16px;
    cursor: pointer;
}

#navigation li a{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
}

#content{
    color:#fff;
    padding: 8px;
}

#content .title{
    font-size: 2em;
}

#content .paragraph{
    text-align: justify;
}

#footer{
    border-top: 1px solid rgb(181, 247, 247);
    text-align: center;
}

#footer a{
    padding: 8px;
    color: blue;
}
