@media(max-width: 46.1875em){
    #header{
        display: block;
    }
    #header img{
        max-width: 100%;
    }

    .navigation {
        display: block;
        padding-left:0%;
        background-color: rgb(181, 247, 247);
        padding: 4px 0px;
    }
    
    .navigation li{
        display: block;
        text-align: center;
        background-color: blue;
        overflow: hidden;
        border-radius: 15px;
        margin:4px;
    }
    
    .navigation li a{
        color:#fff;
        text-decoration: none;
    }
}
